<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Añadir Post</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body>
<div class="container mx-auto mt-10">
    <h1 class="text-3xl font-bold mb-6">Añadir Post</h1>
    <form th:action="@{/posts/add}" method="post" enctype="multipart/form-data" novalidate="">
        <div>
            <label for="imagen">Subir imagen:</label>
            <input type="file" id="imagen" name="imagen" required>
        </div>
        <div>
            <label for="descripcion">Descripción:</label>
            <input type="text" id="descripcion" name="descripcion">
        </div>
        <input type="submit" value="Subir Post">
    </form>

</div>
</body>
</html>
